.table, table
  border-collapse: collapse
  display: block;
  overflow-x: auto;
  white-space: nowrap;

  thead
    th
      padding: 15px
      color: #212b36;
      font-family: Lato;
      font-size: 14px;
      font-weight: 400;

  tbody
    tr
      background-color: #ffffff
      border-bottom: solid 1px #dfe3e8

      td
        color: #007ace;
        font-family: Roboto;
        font-size: 14px;
        font-weight: 400;
        padding: 12px


  &.table-blue
    thead
      background-color: #358ed7

      th
        color: #ffffff;

    tbody
      tr
        &.table-subhead
          background-color: #0062a1;

          td
            color: #ffffff;
            font-family: Lato;
            font-size: 14px;
            font-weight: 400;