@mixin grid-row
  display: flex
  flex-wrap: wrap

@mixin grid-padding
  padding: 0 1%

@mixin grid-col-1
  width: 8.3%

@mixin grid-col-2
  width: 16.6%

@mixin grid-col-3
  width: 25%

@mixin grid-col-4
  width: 33.3%

@mixin grid-col-5
  width: 41.6%

@mixin grid-col-6
  width: 50%

@mixin grid-col-7
  width: 58.3%

@mixin grid-col-8
  width: 66.6%

@mixin grid-col-9
  width: 75%

@mixin grid-col-10
  width: 83.3%

@mixin grid-col-11
  width: 91.6%

@mixin grid-col-12
  width: 100%

// TRANSFORM
@mixin transform ($type) 
  -webkit-transform: $type
  -moz-transform: $type
  -ms-transform: $type
  transform: $type
